doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      h1= title
    nav#side-menu-1
      section#side-content
        .dropdown 
          .dropdown-header(onclick='toggleDropdown(this)') Choose Attack
          .dropdown-content
            #[button(type="submit" onclick="swapGuide(1);") ATTACK 1]
            #[button(type="submit" onclick="swapGuide(2);") ATTACK 2]
    nav#side-menu-2
      section#side-content
        .dropdown 
          .dropdown-header(onclick='toggleDropdown(this)') Choose Defense
          .dropdown-content
            #[button(type="submit" onclick="swapGuide(1);") DEFENSE 1]
            #[button(type="submit" onclick="swapGuide(2);") DEFENSE 2]
    
    section#main-content
      div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
        div 
        div
        div: button#reload Reload
        div: button(type="submit" onclick="window.location.href='/login/out'+getQueries()") Log Out
        div 
        div
      div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
        button#side-menu-toggle-1 Attack
        div(style='text-align: center; width: 100px;')
          label.switch
            if p.charAt(0)=='1'
              input(type="checkbox" checked onclick="flip_Hash();")
            else 
              input(type="checkbox" onclick="flip_Hash();")
            span.slider.round
          div Unhashed Data View
        div(style='text-align: center; width: 100px;')
          label.switch
            if p.charAt(1)=='1'
              input(type="checkbox" checked onclick="flip_SQLI();")
            else 
              input(type="checkbox" onclick="flip_SQLI();")
            span.slider.round
          div SQL Injection
        div(style='text-align: center; width: 100px;')
          label.switch
            if p.charAt(2)=='1'
              input(type="checkbox" checked onclick="flip_XSS();")
            else 
              input(type="checkbox" onclick="flip_XSS();")
            span.slider.round
          div XSS
        div
      button#side-menu-toggle-2 Defense
      if searchQuery!=null && searchQuery!='' && searchQuery!='%'
        if p.charAt(2)=='0'
          p Showing searches for !{searchQuery}
        else 
          p Showing searches for #{searchQuery}
      else 
        p
      #[input(type="text" id="search" placeholder='search keywords')] #[button(type="submit" onclick="link(0,"+genreShown+");") Search]
      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(-30,"+genreShown+");") Previous Page]
      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(30,"+genreShown+");") Next Page]
        
      .button_bar
        .dropdown
          if genreShown != 0
            .dropdown-header(onclick='toggleDropdown(this)') #{genres[genreShown-1].name}
          else 
            .dropdown-header(onclick='toggleDropdown(this)') Choose Genre
          .dropdown-content
            #[input(type="hidden" id="gId", value=0)] #[button(type="submit" onclick="link(0,0);") All Genres]
            each genre in genres
              #[input(type="hidden" id="gId", value=genre.genreId)] #[button(type="submit" onclick="link(0,"+genre.genreId+");") #{genre.name}]

      table
        thead
          tr
            each title in allCols
              if title != 'movieId'
                th= title
        tbody
          each row in data
            tr
              each title in allCols
                if title != 'movieId'
                  if title == 'TopTwoActors'
                    td #{row.TopTwoActors.slice(1,row.TopTwoActors.length-1).split(', ').map(actor => actor.slice(1,actor.length-1))}
                  else if title == 'rating'
                    td #{parseFloat(row.rating).toPrecision(3)}
                  else
                    td= row[title]

      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(-30,"+genreShown+");") Previous Page]
      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(30,"+genreShown+");") Next Page]

    script.
      window.onload = function() {
        help = parseInt(#{h.charAt(0)});
        module = parseInt(#{h.charAt(1)})
        Hash = parseInt(#{p.charAt(0)});
        SQLI = parseInt(#{p.charAt(1)});
        XSS = parseInt(#{p.charAt(2)});
        refreshProtections();
        if (help) {
          // upon reload the help box stays open by updating it with this element
          document.getElementById('side-menu-1').classList.add('notransition');
          document.getElementById('side-menu-2').classList.add('notransition');
          document.getElementById('main-content').classList.add('notransition');
          see_help(help);
          document.getElementById('side-menu-1').offsetHeight;
          document.getElementById('side-menu-1').classList.remove('notransition');
          document.getElementById('side-menu-2').offsetHeight;
          document.getElementById('side-menu-2').classList.remove('notransition');
          document.getElementById('main-content').offsetHeight;
          document.getElementById('main-content').classList.remove('notransition');
        }
      };

      function link(plusItem, gId) {
        var search = document.getElementById("search").value || '%';
        var item = 0;
        if (plusItem != 0) {
          item = parseInt(document.getElementById('item').value || '0') + parseInt(plusItem);
        }
        window.location.href = '/data'+getQueries()+'&s='+search+'&i='+item+'&g='+gId;
      }
      function swapGuide(new_module) {
        module = new_module;
        window.location.href = '/login/'+getQueries();
      }

      function flip_help(h) {
        if (help == 0 || help != h){
          help = h;
        } else {
          help = 0;
        }
      }
      function flip_Hash() {
        Hash = 1-Hash;
        refreshProtections();
      }
      function flip_SQLI() {
        SQLI = 1-SQLI;
        refreshProtections();
      }
      function flip_XSS() {
        XSS = 1-XSS;
        refreshProtections();
      }

      function refreshProtections() {
        document.cookie = 'HelpOn=' + help.toString()+module.toString() + ';Protections=' + Hash.toString()+SQLI.toString()+XSS.toString() + ';User=' + ';path=/;';
      }
      function getQueries() {
        return '?p=' + Hash.toString() + SQLI.toString() + XSS.toString() + '&h=' + help.toString() + module.toString();
      }

      function see_help() {
        var menu1 = document.getElementById('side-menu-1');
        var menu2 = document.getElementById('side-menu-2');
        var mainContent = document.getElementById('main-content');
        if (help==0) {
          menu1.style.left = '-250px';
          menu2.style.left = '-250px';
          mainContent.style.marginLeft = '20px';
          document.getElementById('side-menu-toggle-1').style.border = 'none';
          document.getElementById('side-menu-toggle-2').style.border = 'none';
        } else if (help==1) {
          menu1.style.left = '0px';
          menu2.style.left = '-250px';
          mainContent.style.marginLeft = '270px';
          document.getElementById('side-menu-toggle-1').style.border = 'solid';
          document.getElementById('side-menu-toggle-2').style.border = 'none';
        } else if (help==2) {
          menu1.style.left = '-250px';
          menu2.style.left = '0px';
          mainContent.style.marginLeft = '270px';
          document.getElementById('side-menu-toggle-1').style.border = 'none';
          document.getElementById('side-menu-toggle-2').style.border = 'solid';
        }
      }
      document.getElementById('side-menu-toggle-1').addEventListener('click', function() {
        flip_help(1);
        see_help();
      });
      document.getElementById('side-menu-toggle-2').addEventListener('click', function() {
        flip_help(2);
        see_help();
      });
      document.getElementById('reload').addEventListener('click', function() {
        var sQ = !{JSON.stringify(searchQuery)};
        var iQ = #{itemNum};
        var gQ = #{genreShown};
        window.location.href="/data"+getQueries()+'&s='+sQ+'&i='+iQ+'&g='+gQ;
      }); 
