doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      h1= title

    div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
      div
      div(style='text-align: center; width: 100px;')
        label.switch
          input(type="checkbox" onclick="alert('encrypt');")
          span.slider.round
        div Hashing
      div(style='text-align: center; width: 100px;')
        label.switch
          if SQLI=='true'
            input(type="checkbox" checked onclick="flip_SQLI();")
          else 
            input(type="checkbox" onclick="flip_SQLI();")
          span.slider.round
        div SQL Protect
      div(style='text-align: center; width: 100px;')
        label.switch
          input(type="checkbox" onclick="alert(SQLI);")
          span.slider.round
        div XSS Protect
      div
    
    p Now logged in you can see the data. To return, #[a(href='/login/out') Log Out]

    if ACCEPT
      if searchQuery=='%'
        #[input(type="text" id="search" placeholder='search keywords')] #[button(type="submit" onclick="link(0,"+genreShown+");") Search]
      else
        #[input(type="text" id="search" value=searchQuery)] #[button(type="submit" onclick="link(0,"+genreShown+");") Search]
      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(-30,"+genreShown+");") Previous Page]
      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(30,"+genreShown+");") Next Page]
      
      .button_bar
        .dropdown
          if genreShown != 0
            .dropdown-header(onclick='toggleDropdown(this)') #{genres[genreShown-1].name}
          else 
            .dropdown-header(onclick='toggleDropdown(this)') Choose Genre
          .dropdown-content
            #[input(type="hidden" id="gId", value=0)] #[button(type="submit" onclick="link(0,0);") All Genres]
            each genre in genres
              #[input(type="hidden" id="gId", value=genre.genreId)] #[button(type="submit" onclick="link(0,"+genre.genreId+");") #{genre.name}]

      table
        thead
          tr
            each title in allCols
              if title != 'movieId'
                th= title
        tbody
          each row in data
            tr
              each title in allCols
                if title != 'movieId'
                  if title == 'TopTwoActors'
                    td #{row.TopTwoActors.slice(1,row.TopTwoActors.length-1).split(', ').map(actor => actor.slice(1,actor.length-1))}
                  else if title == 'rating'
                    td #{parseFloat(row.rating).toPrecision(3)}
                  else
                    td= row[title]

      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(-30,"+genreShown+");") Previous Page]
      #[input(type="hidden" id="item", value=itemNum)] #[button(type="submit" onclick="link(30,"+genreShown+");") Next Page]

    script.
      var SQLI;
      window.onload = function() {
        SQLI = #{SQLI};
        refreshProtections();
        var ACCEPT = #{ACCEPT};
        if (!ACCEPT) {
          window.location.href = '/login';
        }
      };

      function link(plusItem, gId) {
        var search = document.getElementById("search").value || '%';
        var item = 0;
        if (plusItem != 0) {
          item = parseInt(document.getElementById('item').value || '0') + parseInt(plusItem);
        }
        window.location.href = '/data?SQLI='+SQLI+'&searchQuery='+search+'&itemNum='+item+'&genreId='+gId;
      }

      function flip_SQLI() {
        SQLI = !SQLI;
        refreshProtections();
      }

      function refreshProtections() {
        document.cookie = 'SQLI=' + SQLI + ';path=/;';
      }
      function getQueries() {
        return '?SQLI='+SQLI;
      }
