doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js")
  body
    .menu
      h1= title
    nav#side-menu-1
      section#side-content
        .dropdown 
          .dropdown-header(onclick='toggleDropdown(this)') Choose Attack
          .dropdown-content
            #[button(type="submit" onclick="alert('atk1');") ATTACK 1]
            #[button(type="submit" onclick="alert('atk2');") ATTACK 2]
    nav#side-menu-2
      section#side-content
        .dropdown 
          .dropdown-header(onclick='toggleDropdown(this)') Choose Defense
          .dropdown-content
            #[button(type="submit" onclick="alert('def1');") DEFENSE 1]
            #[button(type="submit" onclick="alert('def2');") DEFENSE 2]
    
    section#main-content
      div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
        div 
        div
        div: button(type="submit" onclick="window.location.href='/login/u1/p1'+getQueries();") See Data
        div: button#reload Reload
        div
        div
      div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
        div: button#side-menu-toggle-1 Attack
        div(style='text-align: center; width: 100px;')
          label.switch
            if p.charAt(1)=='1'
              input(type="checkbox" checked onclick="flip_Hash();")
            else 
              input(type="checkbox" onclick="flip_Hash();")
            span.slider.round
          div Unhashed Data View
        div(style='text-align: center; width: 100px;')
          label.switch
            if p.charAt(2)=='1'
              input(type="checkbox" checked onclick="flip_SQLI();")
            else 
              input(type="checkbox" onclick="flip_SQLI();")
            span.slider.round
          div SQL Injection
        div(style='text-align: center; width: 100px;')
          label.switch
            if p.charAt(3)=='1'
              input(type="checkbox" checked onclick="flip_XSS();")
            else 
              input(type="checkbox" onclick="flip_XSS();")
            span.slider.round
          div XSS
        div
      button#side-menu-toggle-2 Defense
      if !ACCEPT
        p Before viewing the data, please log in:
        p: #[input(type="text" id="username")] #[input(type="text" id="password")] #[input(type="submit" onclick="tryLogin();")]
  
    script.
      window.onload = function() {
        help = parseInt(#{p.charAt(0)});
        Hash = parseInt(#{p.charAt(1)});
        SQLI = parseInt(#{p.charAt(2)});
        XSS = parseInt(#{p.charAt(3)});
        refreshProtections();
        var ACCEPT = #{ACCEPT};
        if (ACCEPT) {
          window.location.href = '/data'+getQueries()+"&s=&i=&g=";
        }
        if (!window.location.href.includes('login?') && !window.location.href.endsWith('login') && !ACCEPT) {
          window.location.href = '/login'+getQueries();
        }
        if (help) {
          // upon reload the help box stays open by updating it with this element
          document.getElementById('side-menu-1').classList.add('notransition');
          document.getElementById('side-menu-2').classList.add('notransition');
          document.getElementById('main-content').classList.add('notransition');
          see_help(help);
          document.getElementById('side-menu-1').offsetHeight;
          document.getElementById('side-menu-1').classList.remove('notransition');
          document.getElementById('side-menu-2').offsetHeight;
          document.getElementById('side-menu-2').classList.remove('notransition');
          document.getElementById('main-content').offsetHeight;
          document.getElementById('main-content').classList.remove('notransition');
        }
      };

      function tryLogin() {
        var username = hash(document.getElementById("username").value);
        var password = hash(document.getElementById("password").value);
        window.location.href = '/login/'+username+'/'+password+getQueries();
      }
      function hash(plaintext) {
        if (Hash) {
          return CryptoJS.SHA256(plaintext).toString();
        } else {
          return plaintext;
        }
      }

      function flip_help(h) {
        if (help == 0 || help != h){
          help = h;
        } else {
          help = 0;
        }
        refreshProtections();
      }
      function flip_Hash() {
        Hash = 1-Hash;
        refreshProtections();
      }
      function flip_SQLI() {
        SQLI = 1-SQLI;
        refreshProtections();
      }
      function flip_XSS() {
        XSS = 1-XSS;
        refreshProtections();
      }

      function refreshProtections() {
        document.cookie = 'HelpOn=' + help + 'Hash=' + Hash +'SQLI=' + SQLI + 'XSS=' + XSS + ';path=/;';
      }
      function getQueries() {
        return '?p='+help.toString() + Hash.toString() + SQLI.toString() + XSS.toString();
      }

      function see_help() {
        var menu1 = document.getElementById('side-menu-1');
        var menu2 = document.getElementById('side-menu-2');
        var mainContent = document.getElementById('main-content');
        if (help==0) {
          menu1.style.left = '-250px';
          menu2.style.left = '-250px';
          mainContent.style.marginLeft = '20px';
          document.getElementById('side-menu-toggle-1').style.border = 'none';
          document.getElementById('side-menu-toggle-2').style.border = 'none';
        } else if (help==1) {
          menu1.style.left = '0px';
          menu2.style.left = '-250px';
          mainContent.style.marginLeft = '270px';
          document.getElementById('side-menu-toggle-1').style.border = 'solid';
          document.getElementById('side-menu-toggle-2').style.border = 'none';
        } else if (help==2) {
          menu1.style.left = '-250px';
          menu2.style.left = '0px';
          mainContent.style.marginLeft = '270px';
          document.getElementById('side-menu-toggle-1').style.border = 'none';
          document.getElementById('side-menu-toggle-2').style.border = 'solid';
        }
      }
      document.getElementById('side-menu-toggle-1').addEventListener('click', function() {
        flip_help(1);
        see_help();
      });
      document.getElementById('side-menu-toggle-2').addEventListener('click', function() {
        flip_help(2);
        see_help();
      });
      document.getElementById('reload').addEventListener('click', function() {
        window.location.href="/login"+getQueries();
      });  