doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      h1= title
      .menu-content
        div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
          div(style='text-align: center; width: 200px;')
            button#navigate(type="submit" onclick="window.location.href='/'+getQueries();") Index
          div(style='text-align: center; width: 200px;')
            button#navigate(type="submit" onclick="window.location.href='/login'+getQueries();") Log In
          div(style='text-align: center; width: 200px;')
            button#navigate(type="submit" onclick="autoLogin();") Data 
          div(style='text-align: center; width: 200px;')
            button#navigate(type="submit" onclick="window.location.href='/comments'+getQueries()") Comments    
    nav#side-menu-1
      section#side-content
        p Here is the side bar content
    <br>
    section#main-content
      div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
        div: button#side-menu-toggle-1 HELP
        div(style='text-align: center; width: 150px;')
          label.switch
            if p.charAt(0)=='0'
              input(type="range" min="0" max="2" step="1" value="0" class="slider" onchange="setEncryption(this.value);")
            else if p.charAt(0)=='1'
              input(type="range" min="0" max="2" step="1" value="1" class="slider" onchange="setEncryption(this.value);")
            else 
              input(type="range" min="0" max="2" step="1" value="2" class="slider" onchange="setEncryption(this.value);")
            span.slider.round Encryption
        div(style='text-align: center; width: 150px;')
          label.switch
            if p.charAt(1)=='0'
              input(type="range" min="0" max="2" step="1" value="0" class="slider" onchange="setInputSafety(this.value);")
            else if p.charAt(1)=='1'
              input(type="range" min="0" max="2" step="1" value="1" class="slider" onchange="setInputSafety(this.value);")
            else 
              input(type="range" min="0" max="2" step="1" value="2" class="slider" onchange="setInputSafety(this.value);")
            span.slider.round Input Safety
        div(style='text-align: center; width: 150px;')
          label.switch
            if p.charAt(2)=='0'
              input(type="range" min="0" max="2" step="1" value="0" class="slider" onchange="setUrlLv(this.value);")
            else if p.charAt(2)=='1'
              input(type="range" min="0" max="2" step="1" value="1" class="slider" onchange="setUrlLv(this.value);")
            else 
              input(type="range" min="0" max="2" step="1" value="2" class="slider" onchange="setUrlLv(this.value);")
            span.slider.round Referal Safety
        div
  
      p THIS IS THE INDEX PAGE
    script.
      window.onload = function() {
        help = 0;
        EncryptLv = parseInt(#{p.charAt(0)});
        InSafeLv = parseInt(#{p.charAt(1)});
        UrlSafeLv = parseInt(#{p.charAt(2)});
        refreshProtections();
      };

      function autoLogin() {
        if (UrlSafeLv >= 1) {
          window.location.href='/data'+getQueries()+'&s=';
        } else {
          window.location.href='/data'+getQueries()+'&s=&i=&g=';
        }
      }
      function flip_help(h) {
        if (help == 0 || help != h){
          help = h;
        } else {
          help = 0;
        }
        refreshProtections();
      }
      function setEncryption(eLevel) {
        EncryptLv = eLevel;
        refreshProtections();
      }
      function setInputSafety(iLevel) {
        InSafeLv = iLevel;
        refreshProtections();
      }
      function setUrlLv(urlLevel) {
        UrlSafeLv = urlLevel;
        refreshProtections();
      }

      function refreshProtections() {
        document.cookie = 'Protections=' + EncryptLv.toString() + InSafeLv.toString() + UrlSafeLv.toString() + '; path=/';
        document.cookie = 'GenreId=0; path=/';
        document.cookie = 'ItemNum=0; path=/';
      }
      function getQueries() {
        return '?p=' + EncryptLv.toString() + InSafeLv.toString() + UrlSafeLv.toString();
      }

      function see_help() {
        var menu = document.getElementById('side-menu-1');
        var mainContent = document.getElementById('main-content');
        if (help) {
          menu.style.left = '-300px';
          mainContent.style.marginLeft = '20px';
          document.getElementById('side-menu-toggle-1').style.border = 'none';
        } else {
          menu.style.left = '0px';
          mainContent.style.marginLeft = '320px';
          document.getElementById('side-menu-toggle-1').style.border = 'solid';
        }
      }
      document.getElementById('side-menu-toggle-1').addEventListener('click', function() {
        flip_help(1);
        see_help();
      });
