doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      h1= title
    
    div(style='display: flex; justify-content: space-between; flex-wrap: wrap;')
      div
      div(style='text-align: center; width: 100px;')
        label.switch
          if p=='10' || p=='11'
            input(type="checkbox" checked onclick="flip_Hash();")
          else 
            input(type="checkbox" onclick="flip_Hash();")
          span.slider.round
        div Hashing
      div(style='text-align: center; width: 100px;')
        label.switch
          if p=='01' || p=='11'
            input(type="checkbox" checked onclick="flip_SQLI();")
          else 
            input(type="checkbox" onclick="flip_SQLI();")
          span.slider.round
        div SQL Protect
      div(style='text-align: center; width: 100px;')
        label.switch
          input(type="checkbox" onclick="alert(SQLI);")
          span.slider.round
        div XSS Protect
      div

    if !ACCEPT
      p Before viewing the data, please log in:
      p: #[input(type="text" id="username")] #[input(type="text" id="password")] #[input(type="submit" onclick="encryptData();")]

    script.
      var SQLI;
      window.onload = function() {
        Hash = parseInt(#{p.charAt(0)});
        SQLI = parseInt(#{p.charAt(1)});
        refreshProtections();
        var ACCEPT = #{ACCEPT};
        if (ACCEPT) {
          window.location.href = '/data'+getQueries();
        }
        if (!window.location.href.includes('login?') && !window.location.href.endsWith('login') && !ACCEPT) {
          window.location.href = '/login'+getQueries();
        }
      };

      function encryptData() {
        var username = hash(document.getElementById("username").value);
        var password = hash(document.getElementById("password").value);
        window.location.href = '/login/'+username+'/'+password+getQueries();
      }

      function hash(plaintext) {
        return plaintext;
        /*
          let ciphertext = '';
          for(var i=0; i<plaintext.length; i++){
            ciphertext += String.fromCharCode(plaintext.charCodeAt(i)+shift);
          }
          return ciphertext;
          */
      }

      function flip_Hash() {
        Hash = 1-Hash;
        refreshProtections();
      }
      function flip_SQLI() {
        SQLI = 1-SQLI;
        refreshProtections();
      }

      function refreshProtections() {
        document.cookie = 'Hash=' + Hash +'SQLI=' + SQLI + ';path=/;';
      }
      function getQueries() {
        return '?p='+Hash.toString() + SQLI.toString();
      }
        