doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      h1= title
      .menu-content
        p: #[a(href='/') Home] #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict]
      .menu-content
        p: #[a(href='/predict') Predict Performance] #[a(href='/correlate/&extraversion') Predict Audience]
    
    p In order to predict the performance of an upcoming film, appropriate chosen tags can be used to provide an estimated rating based on previous films and their tags and ratings. 
    p To check the accuracy of this estimation, see it apply to other films #[a(href='predict/examples') #[strong here]].

    if preview_average == 'NaN' || preview_start == 'NaN' || preview_end == 'NaN'
      p No Previews Added 
    else
      p Previews: #{usedPreviews}
      p Predicted Rating by Previews is estimated to be #{preview_average} but more generally in the range [#{preview_start},#{preview_end}]

    form(action='/predict', method='GET')
      label(for='new_preview')
      input(type='float', name='new_preview', id='new_preview', placeholder='add preview')
      input(type='hidden', name='usedPreviews', id='usedPreviews', value=usedPreviews)
      input(type='hidden', name='usedTags', id='usedTags', value=usedTags)
      input(type='hidden', name='tagSearch', id='tagSearch', value=tagSearch)
      input(type='hidden', name='itemNum', id='itemNum', value=itemNum)
      button(type='submit') Add

    if tag_average == 0
      p No Tags Added 
    else 
      p Tags: #{usedTags}
      p Predicted Rating by Tag is estimated to be #{tag_average} but more generally in the range [#{tag_start},#{tag_end}]

    .button_bar
      form(action='/predict', method='GET')
        label(for='tagSearch')
        input(type='text', name='tagSearch', id='tagSearch', placeholder='search tags')
        input(type='hidden', name='usedTags', id='usedTags', value=usedTags)
        input(type='hidden', name='usedPreviews', id='usedPreviews', value=usedPreviews)
        button(type='submit') Search

    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='usedTags', id='usedTags', value=usedTags)
        input(type='hidden', name='usedPreviews', id='usedPreviews', value=usedPreviews)
        input(type='hidden', name='tagSearch', id='tagSearch', value=tagSearch)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum-5)
        button(type='submit') Previous Page

    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='usedTags', id='usedTags', value=usedTags)
        input(type='hidden', name='usedPreviews', id='usedPreviews', value=usedPreviews)
        input(type='hidden', name='tagSearch', id='tagSearch', value=tagSearch)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum+5)
        button(type='submit') Next Page

    table
      thead
        tr
          th Tag
          th 
      tbody
        each tag in tags
          tr
            td= tag.tag
            td
              form(action='/predict', method='GET')
                input(type='hidden', name='usedTags', id='usedTags', value=usedTags)
                input(type='hidden', name='usedPreviews', id='usedPreviews', value=usedPreviews)
                input(type='hidden', name='new_tag', id='new_tag', value=tag.tag)
                input(type='hidden', name='tagSearch', id='tagSearch', value=tagSearch)
                input(type='hidden', name='itemNum', id='itemNum', value=itemNum)
                button(type='submit') Use Tag
    